<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel='stylesheet' 
href='http://d33wubrfki0l68.cloudfront.net/bundles/14deacbff4b45665a8cc8f819990cb3d83ac39d3.css'/>
        
        <link rel="shortcut icon" href="pap.jpg" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">

        
        <title>welcome to Mention</title>
    </head>
    <body>
        
     <!--Start header-->
      <div class="header">
        <div class="container">
            <div class="logo">
<table>
<tr>
           <td>  <img src="{{asset('bundles/simomanchester/images/mention.png')}}"></td>
            <td style="color:blue;font-size:xx-large;">Mention</td>
</tr>
</table>
            
            </div>
             <div class="search">
              <span> search : </span> <input type="search">
            
             </div>
            
            <div class="clear"></div>
             
             <div class="nav">
                 
                 <ul>
                     <li><a href="#">Home</a></li>
                     <li><a href="#">Se connecter</a></li>
                     <li><a href="#">Messages</a></li>
                     <li><a href="#">Matching</a></li>
                     <li><a href="{{path('list')}}">Corrigé d'exercice 1</a></li>
                 </ul>
            {% block simo %}
             
                <div class="head">
                 <h1>Welcome To <span>"Mention"</span> Website</h1>
                 <p>La mailleur façon de Recevoir des information en temps réel sur votre marque et concurrents</p>
                 <input type="button" value="Lanch">
                 <input type="button" value="Read more">
                 </div>
                
                 <div class="list">
                     <i class="fa fa-circle a" aria-hidden="true"></i>
                     <i class="fa fa-circle" aria-hidden="true"></i>
                     <i class="fa fa-circle" aria-hidden="true"></i>
                 </div>
                 
                 <div class="contact">
                  <div class="icon">
                    <i class="fa fa-clock-o a" aria-hidden="true"></i>
                    <p>Heures de travail</p>
                    <span> 09.00 - 18.00 / Mon. - Fri.</span>
                  </div>
                  <div class="icon">
                     <i class="fa fa-phone" aria-hidden="true"></i>
                      <p>Appelle-nous </p>
                      <span class="o">(+00)39332244557788</span>
                  </div>
                  <div class="icon s">
                     <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <p>Envoyer vos email</p>
                      <span class="b">contact@mention.com</span>
                      <div class="clear"></div>
                  </div>        
                 </div>
             </div>
        </div>
    </div>
     <!--End header-->
        
     <!--Start work-->
        <div class="work">
         <div class="container">
            <div class="start">
            <h1>Avec Mention gagnez votre temps et vivre comme le lion</h1>
            <p>En ce moment sur Mention à paris</p>
            <input type="button" value="See More">
            </div>
            <div class="our">
            <h3>Laabi Mohamed</h3>
            <p>Bonjour,Découvez ce qu'il se dit sur vos industries,compagnie,produit,client et concurents en ligne</p>
            <img src="{{asset('bundles/simomanchester/images/pap.jpg')}}"><br>
            <a href="#">More Details...</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
            <div class="our">
            <h3>Laabi Mohamed</h3>
            <p>Bonjour,Découvez ce qu'il se dit sur vos industries,compagnie,produit,client et concurents en ligne</p>
            <img src="{{asset('bundles/simomanchester/images/pap.jpg')}}"><br>
            <a href="#">More Details...</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
			 <div class="our">
            <h3>Laabi Mohamed</h3>
            <p>Bonjour,Découvez ce qu'il se dit sur vos industries,compagnie,produit,client et concurents en ligne</p>
            <img src="{{asset('bundles/simomanchester/images/pap.jpg')}}"><br>
            <a href="#">More Details...</a>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
           </div>
          </div>
            
        </div>
     <!--End work-->
     <!--Start US-->
      <div class="container">
        <div class="us">
         <div class="one">
           <h1>Mention</h1> 
           <span>CEO, CREATIVE DIRECTOR</span>
           <p>Mention c'est votre passé ,présent et l'avenir<br> Mention c'est votre passé ,présent et l'avenir,<br> 
Mention c'est votre passé ,présent et l'avenir .</p>
           <ul>
            <li><a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true" ></a></i></li> 
            <li><a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></a></i></li> 
             <li><a href="#"><i class="fa fa-skype fa-2x go" aria-hidden="true"></a></i></li> 
            <li><a href="#"><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></a></i></li>
            <li><a href="#"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></i></li>
            </ul>
            <input type="button" value="Learn More"><br>
            <i class="fa fa-chevron-left fa-2x bus" aria-hidden="true"></i>
             </div>
            <div class="two">
             <img src="{{asset('bundles/simomanchester/images/boss.jpg')}}">  
             <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>

            </div>
        </div>
        </div>
    
     <!--End US-->
        
        
     <!--Start how-->
        <div class="how">
            <h1>Displaying the Result</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
aliquip ex ea commodo.</p>
                <input type="button" value="See More">
        </div>


     <!--End how-->
     <!--Start customer-->
        <div class="container">
         <div class="customer">
          <h1>Les derniers annonces de logement à Paris</h1>
          <p class="oo" >Cursus mauris vitae ligula accumsan sed</p>
          <div class="up ooo">
             <img src="{{asset('bundles/simomanchester/images/tak.jpg')}}">
              <div class="p">
              <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
             <h4>Etudiez la concurrence</h4>
              <p>Serveillez ce que font vos concurrents et apprenez de leur stratégie</p>
              </div>
             
          </div>
             
         <div class="up no">
              <div class="p">
             <h4>Créez des rapports</h4>
              <p>Génerez automatiquement des rapports à partager avec vos clients et collégues</p>
              <i class="fa fa-caret-down fa-2x" aria-hidden="true"></i>

         </div>
             <img src="{{asset('bundles/simomanchester/images/tas.png')}}">
             
         </div>
             
        <div class="up">
             <img src="{{asset('bundles/simomanchester/images/tsonga.jpg')}}">
              <div class="p">
              <i class="fa fa-caret-up fa-2x" aria-hidden="true"></i>
             <h4>Gérer les crises</h4>
              <p>Emparez vous des crises et répondez-y avant qu'elle ne soit hors de portée</p>
            <div class="clear"></div>      
             
        </div>
            
                 
         </div>
            
        </div>

     <!--End customer-->
            
        
     <!-- Start Or-->
           <div class="container"> 
            <div class="or">
            <i class="fa fa-circle" aria-hidden="true"></i>
            <i class="fa fa-circle a" aria-hidden="true"></i>
            <i class="fa fa-circle" aria-hidden="true"></i>
           </div>
            </div>
            
            
            
     <!--End Or -->
            
            
            
     <!--start cicle-->
     <div class="container">    
        <div class="post">
            <h1>Nos Services</h1>
            <p>Ils recommandent Mention Paris</p>
            
            <div class="po">
                <img src="{{asset('bundles/simomanchester/images/b1.png')}}">
                <h3>Laabi Mohamed</h3>
                <h4>12/02/2017 </h4>
                <p>j'ai trouvé mes objectifs Business  à Paris  chez Mention. L'équipe est réactive et vraiment sympa (mail/téléphone). Le site est très simple.</p>
                <input type="button" value="Read More">
            </div> 
            
               <div class="po">
                <img src="{{asset('bundles/simomanchester/images/b2.jpg')}}">
                <h3>Laabi Mohamed</h3>
                <h4>12/02/2017 </h4>
                <p>j'ai trouvé mes objectifs Business  à Paris  chez Mention. L'équipe est réactive et vraiment sympa (mail/téléphone). Le site est très simple.</p>
                <input type="button" value="Read More">
            </div> 
            
           <div class="po">
                <img src="{{asset('bundles/simomanchester/images/b3.jpg')}}">
                <h3>Laabi Mohamed</h3>
                <h4>12/02/2017 </h4>
                <p> j'ai trouvé mes objectifs Business  à Paris  chez Mention. L'équipe est réactive et vraiment sympa (mail/téléphone). Le site est très simple.</p>
                <input type="button" value="Read More">
            </div>        
       </div>    
      </div>
        <div class="clear"></div>
</div>
     <!--end cicle-->
      <!--start send-->
            
            <div class="send">
                <h1>Venez nous rendre visite.</h1>
                <p>Nous serions heureux de vous accueillir dans nos locaux à Paris pour vous présenter notre équipe.
                </p>
                <input type="text" placeholder="Your Email Here.."><br>
                <input type="button" value="Submit Newsletter" >
            </div>
            
            
      <!--End send-->      
            
          {%endblock%}   
  <!--Start contact us-->
    <div class="co">
     <h1>Contact <span>Mention</span></h1>
        
    <div class="form1">
        <form method='post'><input type='hidden' name='form-name' value='form 1' />
       <lable>NAME:</lable><br> <input type="text"><br>
       <lable>EMAIL:</lable> <br><input type="text"><br>
       <lable>MASSEGE:</lable><br> <textarea></textarea><br>
        
            
        <input type="submit" value="submit">  
        
        
        </form>
        
    </div>
    
    <div class="adress">
        <h2>Our Adress</h2>
        <p>offices in Paris and New York City</p>
        
        <ul>
        <li><i class="fa fa-phone" aria-hidden="true"></i> <span>(+00)39332255667788</span></li>
        <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>contact@Mention.com</span></li>
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> <span>Paris 75500 France/New York USA</span></li>
        </ul>
        <hr>
        </div>
    </div>
  <!--End contact us-->
        
          
 <!--Start Footer-->
        <div class="footer">
        
         <ul>
            <li><a href="#"><i class="fa fa-twitter-square fa-2x a" aria-hidden="true" ></a></i></li> 
            <li><a href="#"><i class="fa fa-facebook-square fa-2x b" aria-hidden="true"></a></i></li> 
             <li><a href="#"><i class="fa fa-skype fa-2x c" aria-hidden="true"></a></i></li> 
            <li><a href="#"><i class="fa fa-google-plus-official fa-2x d" aria-hidden="true"></a></i></li>
            </ul>
             <div class="heba">
            <p>Designed by <span>Laabi Mohamed</span> &copy; 2017</p>
             </div>
        </div>
        
 <!--End Footer-->
        

        
        
        
        
        

    </body>
</html>